body {
	background-color: transparent;
}

#commit-message {
	field-sizing: content;
	min-height: 4rem;
	max-height: 12rem;
	overflow-y: auto;
	resize: none;
}


.save-button--loading {
}

.save-button--ok {
	background-color: green !important;
}
.save-button--error {
	background-color: rgb(231, 108, 26) !important;
}

#pr-link {
	display: block;
	width: 100%;
	padding: 0.25em;
	align-items: center;
	text-align: center;
	text-decoration: none;
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
}
.pr-link--undef {
	pointer-events: none !important;
	cursor: not-allowed !important;
	background-color: var(--vscode-disabledForeground) !important;
}